html,
body {
  height: 100%;
}

body {
  margin: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none; 
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav li {
  display: inline-block;
}

nav li:first-child {
  border-right: 1px solid #fff;
  padding-right: 8px;
}

app-root {
  background: linear-gradient(to right, #d2d4d4, #8e9eab);
  display: flex;
  flex-direction: column;
  height: 100%;
}

h2 {
  color: #212121;
}

label {
  color: #717171;
}

header {
  background: linear-gradient(to right, #243949, #517fa4);
  color: #fff;
  padding: 0 15px;
}

footer {
  background: linear-gradient(to top, #243949, #517fa4);
  padding: 15px;
  text-align: center;
}

@media (min-width: 768px) {
  header, footer {
    padding-right: 25px;
    padding-left: 25px;
  }
}

.navigation {
  cursor: pointer;
}

.error {
  color: #ff5f6d;
  font-size: 13px;
  margin-top: 7px;
}

input.ng-touched.ng-invalid {
  border-color: #ff5f6d;
}